[Desktop Entry]
Icon=.icon/digital-cinema-4-5.png
Name=Digital Cinema 4:5 [ 2160x2700 , 300dpi RGB , 8bit ]
Type=Link
URL[$e]=.source/digital-cinema-4-5-2160x2700-300dpi-rgb-8bit.kra
X-KDE-Hidden=false
