[Desktop Entry]
Icon=.icon/digital-cinema-1.91-1.png
Name=Digital Cinema 1.91:1
Type=Link
URL[$e]=.source/digital-cinema-1.91-1.kra
X-KDE-Hidden=false
